/* ---------------------------------------------------------------------------
Modules: Objects: Icon
---------------------------------------------------------------------------- */

.icon {
}

/* Sizing Extensions */

.mix-icon_sm {
    width: 22px;
    height: 22px;
}

.mix-icon_med {
    width: 48px;
    height: 48px;
}

.mix-icon_lg {
    width: 72px;
    height: 72px;
}

.mix-icon_xlg {
    width: 120px;
    height: 120px;
}

/* Color Extensions */

.mix-icon_brown {

}

.mix-icon_blue {

}

.mix-icon_green {

}

.mix-icon_red {

}
