/* ---------------------------------------------------------------------------
Modules: Containers: Wrapper
---------------------------------------------------------------------------- */

.wrapper {
    padding: 50px 0;
    max-width: 960px;
    margin: auto;
}