/* ---------------------------------------------------------------------------
Modules: Repeaters: vList
---------------------------------------------------------------------------- */

.hList {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.hList > * + * {
    margin-left: 50px;
}