/* ---------------------------------------------------------------------------
Modules: Typography: Hdg
---------------------------------------------------------------------------- */

.hdg {
    font-family: 'Slabo 27px', serif;
}

.hdg_1 {
    font-size: 72px;
}

.hdg_2 {
    font-size: 50px;
}

.hdg_3 {
    font-size: 40px;
}