/* ---------------------------------------------------------------------------
Modules: Layout: VR
---------------------------------------------------------------------------- */

.vr {
    margin-bottom: 10px;
}

.vr_x2 {
    margin-bottom: 40px;
}